<search:platform var="clients" conf="platforms.fusion.finance.clients"></search:platform>
<search:platform var="platformHierarchical" conf="services.hierarchical"></search:platform>

<lifecycle:required object="user.name">
    <search:query var="clientQuery" sorts="-weight_d" results-per-page="9">
        <query:filter field="_lw_data_source_s" value="clients"></query:filter>
        <query:filter field="advisor_s" value="{{user.name}}"></query:filter>
    </search:query>
    <search:response var="clientResponse" query="clientQuery" platform="clients">
        <widget:spinner></widget:spinner>
    </search:response>
</lifecycle:required>
<!-- -------------------------------------------- -->
<!-- Define the view                              -->
<!-- -------------------------------------------- -->
<helper:title title="Finance 360"></helper:title>

<!-- HEADER -->
<layout:include file="views/partials/header.tpl.html" placeholder="Search clients..." action="clients"></layout:include>


<!-- CONTENT -->
<layout:grid styling="row-offcanvas" class="clients-page">
    <layout:animate animation="animate-fadeInUp" on="clientResponse" layout-grid>
        <!-- CONTENT > SIDEBAR -->
        <layout:block md="6-24" drawer="left" id="sidebar" styling="blocksidebar-dark">
            <layout:sidebar>
                <search:facet-list response="clientResponse"
                                   styling="facet-list"
                                   facet-names="-_lw_data_source_s,total_aum_f=AUM,account_type_ss=Account Type,city_state_s_hier_ss=Location">>
                    <search:facet collapsible="true" show="8" show-more="20"></search:facet>
                    <search:facet facet-name="total_aum_f" title="AUM">
                        <chart:histogram facet="$parent.facet" show-content="false" show-count="true" show="99" height="50px"></chart:histogram>
                        <widget:slider response="clientResponse" facet-name="total_aum_f"></widget:slider>
                    </search:facet>
                    <search:facet facet-name="city_state_s_hier_ss" show="6" show-more="6">
                        <facet:hierarchical facet-name="city_state_s_hier_ss" platform="platformHierarchical" query="clientQuery"></facet:hierarchical>
                    </search:facet>
                </search:facet-list>
            </layout:sidebar>
        </layout:block>

        <!-- CONTENT > RESULTS -->
        <layout:block md="18-24" class="tk-stl-bg-searchresults">
            <layout:block>
                <layout:box padding-bottom="0">
                    <search:breadcrumbs query="clientQuery" group-by-field="true" exclude="_lw_data_source_s,advisor_s"></search:breadcrumbs>
                </layout:box>
            </layout:block>

            <!-- SELECTED FACETS / SORT OPTIONS -->
            <layout:grid styling="sortoptions-wrapper">
                <layout:block>
                    <layout:box>
                        <search:response-statistics response="clientResponse"></search:response-statistics>
                        <layout:controls class="right">
                            <search:sort response="clientResponse" fields="last_name_s=Last Name"></search:sort>
                        </layout:controls>
                    </layout:box>
                </layout:block>
            </layout:grid>

            <!-- MAIN MAP -->
            <layout:box>
                <geo:map response="clientResponse" provider="google" latitude-field="lat_s" longitude-field="lon_s" label-field="full_name_s" loading-overlay="true" basemap="TERRAIN"></geo:map>
            </layout:box>

            <!-- APP RESULTS CARD LIST -->
            <layout:block>
                <layout:grid>
                    <layout:block>

                        <track:clicks query=clientQuery type="click">
                            <search:result-list response="clientResponse" infinite-scrolling="false" platform="platform" query="clientQuery" styling="cards-xs-1 cards-sm-2 cards-md-2 cards-xl-3" class="main-results">
                                <search:result class="client-card">

                                    <!--title + stock price-->
                                    <layout:grid>
                                        <layout:block xs="1-1" sm="1-2" md="4-5">
                                            <layout:box padding-top="0" padding-right="0" padding-bottom="0">
                                                <search:field name="full_name_s" label="" styling="title" url="#/clients/{{result.fields['client_id_s'].val[0] | encodeURIComponent }}"></search:field>
                                            </layout:box>
                                        </layout:block>
                                    </layout:grid>

                                    <layout:grid>

                                        <layout:block xs="1-1" md="6-24" ng-controller="MainCtrl">
                                            <media:image src="{{$root.mapUrl(result) | trusted}}"></media:image>
                                        </layout:block>

                                        <layout:block xs="1-1" md="18-24" >
                                            <layout:box padding-top="0" padding-right="0" padding-bottom="0">
                                                <search:field name="full_address_s" label="" class="address-field"></search:field>
                                                <search:field name="total_aum_f" show="1" label="Total AUM" styling="label-left" number-format="$###,###,###.00"></search:field>
                                                <search:field name="age_s" styling="label-left" label="Age"></search:field>
                                                <search:field name="account_type_ss" styling="label-left" label="Account Types"></search:field>
                                            </layout:box>
                                        </layout:block>

                                    </layout:grid>

                                </search:result>
                            </search:result-list>
                        </track:clicks>
                        <search:pagination response="clientResponse"></search:pagination>
                    </layout:block>
                </layout:grid>
                <search:no-results response="clientResponse">
                    <h2 class="zero-results" styling="textcenter">Sorry, there are no results that match your search criteria.</h2>
                    <p class="zero-results" styling="textcenter">If you've checked your spelling, try using more general keywords.</p>
                </search:no-results>
            </layout:block>

            </div>
        </layout:block>


    </layout:animate>
</layout:grid>
