<!-- -------------------------------------------- -->
<!-- Build the data model                         -->
<!-- -------------------------------------------- -->

<search:platform var="platform" conf="platforms.fusion.finance.related-news"></search:platform>

<search:query var="backendQuery" facets="industry_s,city_s,state_s" fields="id,score,ticker_s,close_d,industry_s,state_s,city_s,company_name_s,div_yield_f,marketcap_f,revenue_f">
  <query:filter field="_lw_data_source_s" value="sp500"></query:filter>
</search:query>

<search:response var="response" platform="platform" query="backendQuery">
  <widget:spinner></widget:spinner>
</search:response>

<search:query var="query" parameters="*"></search:query>
<track:query query="query" path="/companies"></track:query>

<!-- -------------------------------------------- -->
<!-- Define the view                              -->
<!-- -------------------------------------------- -->

<helper:title title="Finance 360"></helper:title>

<!-- HEADER -->
<layout:include file="views/partials/header.tpl.html" placeholder="Search for news, symbols, or companies ..." action="companies"></layout:include>

<!-- CONTENT -->
<layout:grid styling="row-offcanvas" class="company-page">
  <layout:animate animation="animate-fadeInUp" on="response" layout-grid>
    <!-- CONTENT > SIDEBAR -->
    <layout:block md="6-24" drawer="left" id="sidebar" styling="blocksidebar-dark">
      <layout:sidebar>
        <search:facet-list response="response" platform="platform" query="query"
                           styling="facet-list"
                           facet-names="-_lw_data_source_s,industry_s=Industry,city_s=City,state_s=State">
          <search:facet collapsible="true" show="8" show-more="20"></search:facet>
        </search:facet-list>
      </layout:sidebar>
    </layout:block>

    <!-- CONTENT > RESULTS -->
    <layout:block md="18-24" class="tk-stl-bg-searchresults">
        <!-- ANSWER CARD -->
      <search:message-list response="response" type="co_answer_card_content" class="answer-card"></search:message-list>

        <layout:box>

        <!-- SELECTED FACETS / SORT OPTIONS -->
        <!--<search:tabs response="response" tabs="" field-name="" all-label="All" styling="tabs" platform="platform" query="query"></search:tabs>-->
        <layout:grid styling="sortoptions-wrapper">
          <layout:block>
            <search:response-statistics response="response"></search:response-statistics>
            <layout:controls class="right">
              <search:sort response="response" fields="marketcap_f=Market Cap,revenue_f=Revenue,div_yield_f=Yield"></search:sort>
            </layout:controls>
          </layout:block>
        </layout:grid>
        <search:breadcrumbs query="query" group-by-field="true" exclude="_lw_data_source_s"></search:breadcrumbs>

        <!-- ALL RESULTS WRAPPER -->

            <!-- APP RESULTS CARD LIST -->
            <layout:block>
              <layout:grid>
                <layout:block>

                  <track:clicks query=query type="click">
                  <search:result-list response="response" infinite-scrolling="false" platform="platform" query="query" styling="cards-xs-1 cards-sm-2 cards-md-2 cards-xl-3" class="main-results">
                      <search:result class="company-card card">

                        <!--title + stock price-->
                        <layout:grid>
                          <layout:block xs="1-1" sm="1-2" md="3-5">
                            <layout:box padding-top="0" padding-right="0" padding-bottom="0">
                              <search:field name="company_name_s" label="" styling="title" url="#/companies/{{result.fields['ticker_s'].val[0] | encodeURIComponent }}"></search:field>
                            </layout:box>
                          </layout:block>
                          <layout:block xs="1-1" sm="1-2" md="2-5">
                            <layout:box padding-top="0" padding-right="0" padding-bottom="0" styling="pull-right">
                              <search:field name="ticker_s" label="" class="nowrap sub-title label-inline"></search:field>
                              <search:field result="result.related[0].result" name="close_d" label="" class="nowrap sub-title label-inline" number-format="$###,###.00"></search:field>
                            </layout:box>
                          </layout:block>
                        </layout:grid>

                        <layout:grid>

                          <layout:block xs="1-1" md="6-24"  ng-controller="MainCtrl">
                            <media:image src="{{mapUrl(result) | trusted}}"></media:image>
                          </layout:block>

                          <layout:block xs="1-1" md="18-24" >
                            <layout:box padding-top="0" padding-right="0" padding-bottom="0">
                              <search:field name="industry_s" query="query" styling="label-left" label="Industry"></search:field>
                              <!--<search:field name="state_s" styling="label-left" query="query" label="State"></search:field>-->
                              <!--<search:field name="city_s" styling="label-left" query="query" label="City"></search:field>-->
                              <search:field name="marketcap_f" styling="label-left" query="query" label="Market Cap" number-format="$#,###"></search:field>
                              <search:field name="revenue_f" styling="label-left" query="query" label="Revenue" number-format="$#,###"></search:field>
                            </layout:box>
                          </layout:block>

                        </layout:grid>

                        <layout:grid>
                          <layout:block>
                            <hr class="simple" ng-if="result.fields.company_events">
                            <layout:grid class="portfolio" ng-if="$parent.$parent.$parent.portfolioCompanies[result.fields.ticker_s.val[0]].length > 0" >
                              <layout:block md="6-24">
                                <p styling="title">Portfolios</p>
                              </layout:block>
                              <layout:block md="18-24">
                                <layout:box padding-top="0" padding-right="0" padding-bottom="0">
                                  <ol styling="tag-list tag-capsules sm">
                                    <li ng-repeat="portfolio in $parent.$parent.$parent.$parent.portfolioCompanies[result.fields.ticker_s.val[0]]">
                                      <a href="#/portfolios/{{portfolio.id}}">
                                        <span class="value">{{portfolio.title}}</span>
                                      </a>
                                    </li>
                                  </ol>
                                </layout:box>
                              </layout:block>
                            </layout:grid>
                            <search:field name="company_events" styling="capsules capsules-fullwidth" label="" show="10"></search:field>
                          </layout:block>
                        </layout:grid>
                      </search:result>
                    </search:result-list>
                  </track:clicks>
                </layout:block>
              </layout:grid>
              <search:no-results response="response">
                <h2 class="zero-results" styling="textcenter">Sorry, there are no results that match your search criteria.</h2>
                <p class="zero-results" styling="textcenter">If you've checked your spelling, try using more general keywords.</p>
              </search:no-results>
            </layout:block>


        </layout:box>
      </div>
    </layout:block>


  </layout:animate>
</layout:grid>
