<search:platform var="finance" conf="platforms.fusion.finance.portfolios"></search:platform>

<lifecycle:required object="user.name">
    <search:query var="ownerQuery" sorts="-weight_d" results-per-page="100" fields="id,owner_s,ticker_s,company_name_s,sector_s,industry_s,bucket_id_s,unique_bucket_id_s,weight_s,weight_d,bucket_name_s,bucket_ytd_ror_f,bucket_value_f,bucket_value_total_f,bucket_total_clients_i,revenue_f,marketcap_f,div_yield_f">
        <query:filter field="_lw_data_source_s" value="user_buckets"></query:filter>
        <query:filter field="owner_s" value="{{user.name}}"></query:filter>
        <query:custom name="group.limit" value="10"></query:custom>
    </search:query>
    <search:response var="mycompanies" query="ownerQuery" platform="finance">
        <widget:spinner></widget:spinner>
    </search:response>
</lifecycle:required>
<!-- -------------------------------------------- -->
<!-- Define the view                              -->
<!-- -------------------------------------------- -->
<helper:title title="Finance 360"></helper:title>

<!-- HEADER -->
<layout:include file="views/partials/header.tpl.html" placeholder="Search in the news..." action="news"></layout:include>


<div styling="centercontent">
 <div styling="centercontent-inner">

      <layout:grid>
          <layout:block>
              <!--<layout:box>-->
                  <!--<h2>Create a new Portfolio</h2>-->
                  <!--<collaborate:topic-form namespace="local"></collaborate:topic-form>-->
              <!--</layout:box>-->
              <layout:box>
                  <h3>Your Companies</h3>
                  <search:result-list response="mycompanies" styling="cards-xl-3" class="side-results">
                      <search:result>
                          <layout:block>
                              <search:field name="bucket_name_s" styling="title" show="1"></search:field>
                              <search:field name="ticker_s" label="Tickers" styling="label-left" class="inline"></search:field>
                          </layout:block>
                          <layout:block>
                              <hr class="simple">
                              <h2 styling="text-center">{{result.related.length}} Companies</h2>
                              <h4 styling="text-center"><a href="#/my-companies/{{result | field:'unique_bucket_id_s' | actual}}">See All</a></h4>
                          </layout:block>
                      </search:result>
                  </search:result-list>
              </layout:box>
          </layout:block>

      </layout:grid>

 </div>
</div>
