
<!-- -------------------------------------------- -->
<!-- Define the view                              -->
<!-- -------------------------------------------- -->
<helper:title title="Finance 360"></helper:title>

<!-- HEADER -->
<layout:include file="views/partials/header.tpl.html" action="search"></layout:include>


<div styling="centercontent">
 <div styling="centercontent-inner">

      <layout:grid>
          <layout:block medium="3-4">
              <layout:box>
                  <h2>Create a new Portfolio</h2>
                  <collaborate:topic-form namespace="local"></collaborate:topic-form>
              </layout:box>
              <layout:box>
                  <h3>Your portfolios</h3>
                  <collaborate:topic-list empty-text="You haven't created any portfolios yet">
                      <li ng-repeat="topic in $parent.topics" class="ng-scope" style="">
                          <div class="content">

                              <layout:grid>
                                  <layout:block small="1-4">
                                      <layout:box>
                                          <a styling="title" href="#/portfolios/{{topic.id}}">{{topic.title}}</a>
                                          <a class="right delete ng-binding" ng-click="deleteCollaboration(topic.id)">×</a>
                                      </layout:box>
                                  </layout:block>
                                  <layout:block small="1-4">
                                      <layout:box>
                                          {{topic.created | date : 'dd MMM yyyy'}}
                                      </layout:box>
                                  </layout:block>
                                  <!--<layout:block small="2-4" ng-if="topic.bookmarks.length == 0">-->
                                      <!--<p>You haven't added any companies yet.</p>-->
                                  <!--</layout:block>-->
                                  <!--<layout:block small="2-4" ng-if="topic.bookmarks.length > 0">-->
                                      <!--<p ng-repeat="bookmark in topic.bookmarks">-->
                                          <!--<a href="#/comapnies/{{bookmark.target}}">{{bookmark.title}} ({{bookmark.target}})</a>-->
                                          <!--<a style="padding-left:10;" ng-click="deleteBookmark(bookmark.id,topic.id)">&times;</a>-->
                                      <!--</p>-->
                                  <!--</layout:block>-->
                              </layout:grid>

                              <!--<p><a class="ng-binding" href="#/portfolios/{{topic.id}}">{{topic.title}}</a></p>-->
                              <!--<span class="metadata ng-binding">{{topic.created | date : 'HH:mm, dd MMM yyyy'}}</span>-->
                              <!--<span class="delete ng-binding" ng-click="deleteCollaboration(topic.id)">×</span>-->
                          </div>
                      </li>
                  </collaborate:topic-list>

              </layout:box>
          </layout:block>

      </layout:grid>

 </div>
</div>
