<search:platform var="platform" conf="platforms.fusion.finance.company-news"></search:platform>
<search:query var="query" facets="entity_country_hv_ss,entity_company_hv_ss,entity_person_hv_ss,industry_tags_hv_ss,topics_tags_hv_ss">
    <query:custom name="portfolio" value="{{params.id}}"></query:custom>
    <query:filter field="_lw_data_source_s" value="yahoo-news"></query:filter>
</search:query>
<search:response var="response" query="query" platform="platform"></search:response>

<search:platform var="finance" conf="platforms.fusion.finance.historical-portfolio"></search:platform>
<search:query parameters="*,-f" var="companyQuery" sorts="-weight_d" facets="industry_s,sector_s,ticker_s">
    <query:filter field="unique_bucket_id_s" value="{{params.id}}"></query:filter>
    <query:filter field="_lw_data_source_s" value="user_buckets"></query:filter>
    <query:custom name="facet.mincount" value="1"></query:custom>
</search:query>
<search:response var="companies" platform="finance" query="companyQuery">
    <widget:spinner></widget:spinner>
</search:response>

<!-- -------------------------------------------- -->
<!-- Define the view                              -->
<!-- -------------------------------------------- -->
<helper:title title="Finance 360"></helper:title>

<!-- HEADER -->
<div class="portfolio-detail-page">
<layout:include file="views/partials/header.tpl.html" placeholder="Search in the news..."
                action="news"></layout:include>

<layout:animate animation="animate-fadeInUp" on="companies" styling="centercontent" style="padding-bottom:0px;" layout-grid>
    <layout:block>
        <layout:box style="padding:0px;">
            <p><a href="#/portfolios">Portfolios</a> / <span>{{companies | result | field:'bucket_name_s' | actual}}</span></p>
        </layout:box>
    </layout:block>
    <layout:block>
        <ol class="result-list">
            <search:result result="companies.results[0].result">
                <search:field name="bucket_ytd_ror_f" show="1" label="YTD return" styling="label-inline" number-format="##.0# %"></search:field>
                <search:field name="bucket_value_total_f" show="1" label="Total AUM" styling="label-inline" number-format="$###,###,###"></search:field>
                <search:field name="bucket_total_clients_i" show="1" label="Total Clients" styling="label-inline"></search:field>
            </search:result>
        </ol>

    </layout:block>
</layout:animate>
<layout:grid animation="animate-fadeInUp" on="companies" styling="centercontent" style="padding-bottom:0px;" layout-grid>
    <layout:block>
        <layout:box styling="centercontent">
            <div class="allocation-header">
                <h2 ng-if="companies.results">Portfolio Allocation</h2>
            </div>
        </layout:box>
    </layout:block>
    <layout:block md="1-3">
        <layout:box>
            <chart:display ng-if="companies.results" platform="finance" query="companyQuery" height="285" title="By Sector">
                <series:result-list results="companies.facts.sector_s" label-field="sector_s" value-field="weight_d" type="pie"></series:result-list>
                <chart:tooltip point-format="<b>{point.percentage:.0f}%<br/>"></chart:tooltip>
            </chart:display>
        </layout:box>
    </layout:block>
    <layout:block md="1-3">
        <layout:box>
            <chart:display ng-if="companies.results" platform="finance" query="companyQuery" height="285" title="By Industry">
                <series:result-list results="companies.facts.industry_s" label-field="industry_s" value-field="weight_d" type="pie"></series:result-list>
                <chart:tooltip point-format="<b>{point.percentage:.0f}%<br/>"></chart:tooltip>
            </chart:display>
        </layout:box>
    </layout:block>
    <layout:block md="1-3">
        <layout:box>
            <chart:display ng-if="companies.results" platform="finance" query="companyQuery" height="285" title="By Company">
                <series:result-list results="companies.facts.ticker_s" label-field="ticker_s" value-field="weight_d" type="pie"></series:result-list>
                <chart:tooltip point-format="<b>{point.percentage:.0f}%<br/>"></chart:tooltip>
            </chart:display>
        </layout:box>
    </layout:block>
    <layout:block style="padding-top:0px;">
        <div styling="stretch-content">

            <h5 ng-if="companies.results">Companies</h5>
            <search:result-list response="companies" styling="cards-sm-1 cards-md-3">
                <search:result class="company-card card">

                    <layout:grid>
                        <layout:block>
                            <layout:box padding-top="0" padding-right="0" padding-bottom="0">
                                <search:field name="weight_d" label="Portfolio weight" styling="label-left"></search:field>
                            </layout:box>
                        </layout:block>
                        <layout:block xs="1-1" sm="1-2" md="3-5">
                            <layout:box padding-top="0" padding-right="0" padding-bottom="0">
                                <search:field name="company_name_s" label="" styling="title" url="#/companies/{{result.fields['ticker_s'].val[0] | encodeURIComponent }}"></search:field>
                            </layout:box>
                        </layout:block>
                        <layout:block xs="1-1" sm="1-2" md="2-5">
                            <layout:box padding-top="0" padding-right="0" padding-bottom="0" styling="pull-right">
                                <search:field name="ticker_s" label="" class="nowrap sub-title label-inline"></search:field>
                                <search:field result="result.related[0].result" name="close_d" label="" class="nowrap sub-title label-inline" number-format="$###,###.00"></search:field>
                            </layout:box>
                        </layout:block>
                    </layout:grid>

                    <layout:grid>

                        <layout:block xs="1-1" md="6-24"  ng-controller="MainCtrl">
                            <media:image field-name="image_url_s"></media:image>
                        </layout:block>

                        <layout:block xs="1-1" md="18-24" >
                            <layout:box padding-top="0" padding-right="0" padding-bottom="0">
                                <search:field name="industry_s" query="query" styling="label-left" label="Industry"></search:field>
                                <!--<search:field name="state_s" styling="label-left" query="query" label="State"></search:field>-->
                                <!--<search:field name="city_s" styling="label-left" query="query" label="City"></search:field>-->
                                <search:field name="marketcap_f" styling="label-left" query="query" label="Market Cap"></search:field>
                                <search:field name="revenue_f" styling="label-left" query="query" label="Revenue"></search:field>
                            </layout:box>
                        </layout:block>

                    </layout:grid>

                    <layout:grid>
                        <layout:block>
                            <chart:display response="companies" height="300" xlabel-rotation="-45" show-labels="true" ytitle="Closing price" xtitle="Date">
                                <!--<series:result-list ng-repeat="company in companies.results" title="{{company.result.fields.ticker_s.val[0]}}" results="company.result.related" label-field="date_dt" value-field="close_d" type="spline" number-to-show="30"></series:result-list>-->
                                <series:result-list results="result.related" label-field="date_dt" value-field="close_d" type="spline" number-to-show="30"></series:result-list>
                            </chart:display>
                        </layout:block>
                    </layout:grid>


                    <layout:grid ng-if="result | field:'news-articles'">
                        <layout:block ng-controller="MainCtrl">
                            <hr class="simple" >
                            <span><a href="{{filterQueryUrl(result, 'news-articles', 'news', 'id')}}">{{(result | field:'news-articles').val.length}} News articles for this stock</a></span>
                        </layout:block>
                    </layout:grid>

                </search:result>
            </search:result-list>
        </div>
    </layout:block>


    <!--<layout:block>-->
        <!--{{companies.results[0].result.related.length}}-->
        <!--<chart:display response="companies" height="300" xlabel-rotation="-45" show-labels="true" ytitle="Closing price" xtitle="Date">-->
            <!--<series:result-list ng-repeat="company in companies.results" title="{{company.result.fields.ticker_s.val[0]}}" results="company.result.related" label-field="date_dt" value-field="close_d" type="spline" number-to-show="30"></series:result-list>-->
            <!--&lt;!&ndash;<series:result-list results="companies.results[0].result.related" label-field="date_dt" value-field="close_d" type="spline" number-to-show="30"></series:result-list>&ndash;&gt;-->
        <!--</chart:display>-->
        <!--&lt;!&ndash;<div ng-repeat="company in companies.results">{{company.result.related[0].result.fields.Date}},{{company.result.related[0].result.fields.close_d}}</div>&ndash;&gt;-->
    <!--</layout:block>-->

    <layout:animate animation="animate-fadeInUp" on="response" class="related-news" layout-block>
            <div styling="width-1" ng-if="response.results && response.results.length > 0">

                    <h3>{{response.hits.act[1]}} News stories affecting this Portfolio</h3>

                    <layout:grid>
                        <layout:block md="1-3" lg="6-24" drawer="left" id="sidebar" styling="bg-sidebar blocksidebar-light">
                            <layout:sidebar padding-left="0">
                                <search:facet-list response="response" platform="platform" query="query"
                                                   styling="facet-list"
                                                   facet-names="entity_country_hv_ss=Country,entity_company_hv_ss=Company,entity_person_hv_ss=Person,industry_tags_hv_ss=Industry,topics_tags_hv_ss=Topics">
                                    <search:facet collapsible="true" show="8" show-more="20"></search:facet>
                                </search:facet-list>
                            </layout:sidebar>
                        </layout:block>

                        <layout:block md="2-3" lg="18-24" styling="bg-searchresults">

                            <layout:box>

                                <search:breadcrumbs query="query" group-by-field="true" exclude="_lw_data_source_s"></search:breadcrumbs>

                                <search:result-list response="response">
                                    <search:result>
                                        <layout:grid ng-if="result | field:'og_image_s'">
                                            <layout:block md="1-5">
                                                <layout:box>
                                                    <media:image field-name="og_image_s" fallback-image-url="assets/noimage.svg"></media:image>
                                                </layout:box>
                                            </layout:block>
                                            <layout:block md="4-5">
                                                <search:field name="title_t" styling="title" urlfield="id"></search:field>
                                                <search:field name="og_description_s" styling="description"></search:field>

                                                <search:field name="entity_country_hv_ss" styling="capsules" query="query" label="Countries"></search:field>
                                                <search:field name="entity_company_hv_ss" styling="capsules" query="query" label="Companies"></search:field>
                                                <search:field name="entity_person_hv_ss" styling="capsules" query="query" label="People"></search:field>
                                                <search:field name="industry_tags_hv_ss" styling="capsules" query="query" label="Industry"></search:field>
                                            </layout:block>
                                        </layout:grid>
                                        <layout:grid ng-if="!(result | field:'og_image_s')">
                                            <layout:block>
                                                <search:field name="title_t" styling="title" urlfield="id"></search:field>
                                                <search:field name="og_description_s" styling="description"></search:field>

                                                <search:field name="entity_country_hv_ss" styling="capsules" query="query" label="Countries"></search:field>
                                                <search:field name="entity_company_hv_ss" styling="capsules" query="query" label="Companies"></search:field>
                                                <search:field name="entity_person_hv_ss" styling="capsules" query="query" label="People"></search:field>
                                                <search:field name="industry_tags_hv_ss" styling="capsules" query="query" label="Industry"></search:field>
                                            </layout:block>
                                        </layout:grid>
                                    </search:result>
                                </search:result-list>
                            </layout:box>
                        </layout:block>
                    </layout:grid>
                </div>
        <search:no-results response="response" class="no-news">
            <span class="flaticon-folder-2"></span>
            <h2>There is no recent news affecting this portfolio.</h2>
        </search:no-results>
    </layout:animate>

</layout:grid>


    <!-- Footer -->
    <layout:include file="views/partials/footer.tpl.html"></layout:include>

<layout:grid ng-if="collaborationTopics[params.id].companies.length == 0" styling="centercontent">
    <layout:block>
        <layout:box styling="stretch-content">
            <div class="panel" styling="width-1">
                <p>This portfolio has no companies yet.</p>
                <p><a href="#/companies">Add some.</a></p>
            </div>
        </layout:box>
    </layout:block>

    <layout:include file="views/partials/footer.tpl.html"></layout:include>

</layout:grid>
</div>