.odd{
    background-color: lightgray;
}

.even{

}

#search-header{
    padding-bottom: 10px;
}
.result{
    padding-bottom: 15px;
}

.search-result{
    border-bottom: 1px solid gray;
}
.historical{

}

#filters{
    padding-bottom: 10px;
}

.facet-val{
    margin-left: 15px;
}
.range-facet-val{
    margin-left: 30px;
}

.facet-fields{

}

.header-title{
    display: inline;
    position: relative;
    left: 100px;
    top: -20px;
}

.pivot-1{
    padding-left: 15px;
}
.pivot-2{
    padding-left: 15px;
}
.pivot-3{
    padding-left: 10px;
}

/*Facet Hierarchy*/
.facet-taxonomy {

}

.catName {

}

.facet-list {
    list-style: none;
    padding: 0px;
    margin-left: 18px;
}

.depth-1 {

}

.depth-2 {
    margin-left: 2px;
}

.depth-3 {

}

/* Charts */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.header {
    font-weight: bold;
}

.headline{
    font-weight: bold;
}