<search:platform var="platform" conf="platforms.fusion.data"></search:platform>

<search:query var="query" parameters="*">
    <search:filter field="id" value="{{params.id}}"/>
</search:query>
<search:response var="response" platform="platform" query="query"></search:response>

<helper:title title="{{ $root.application_name }}" ng-if="$root.application_name"></helper:title>

<layout:include file="views/partials/header.tpl.html" action="search"></layout:include>

<layout:grid styling="row-offcanvas" class="detail-page">
    <layout:animate animation="animate-fadeInUp" on="response">
        <layout:block md="1-3" lg="1-4" drawer="left" id="sidebar" styling="blocksidebar-light">
        </layout:block>
        <layout:block md="2-3" lg="3-4" styling="bg-white">
            <layout:box padding-left="2" padding-right="2">
                <layout:block>
                    <layout:grid>
                        <layout:block>
                            <search:result-list response="response" styling="col-2" addCssClass="tk-bl-panel">
                                <search:result>
                                    <search:field name="name" styling="title"></search:field>
                                    <search:field name="address" label="Address" styling="label-above"></search:field>
                                    <search:field name="city" label="City" styling="label-above" suffix=", {{result.fields.state.val[0]}} {{result.fields.zipcode | actual}}"></search:field>
                                    <search:field name="completeness" label="Account Completeness" styling="label-above" suffix="%"></search:field>
                                    <search:field name="customer_since" label="Customer Since" styling="label-above" date-format="MMMM dd, y"></search:field>
                                    <search:field name="lifetime_value" label="Lifetime Value" styling="label-above" prefix="&dollar;"></search:field>
                                    <search:field name="credit_score" label="Credit Score" styling="label-above"></search:field>
                                </search:result>
                            </search:result-list>
                        </layout:block>
                    </layout:grid>
                </layout:block>
            </layout:box>
        </layout:block>
    </layout:animate>
</layout:grid>
