/*------------------------------------*/
/*    LOGIN											      */
/*------------------------------------*/

body.login {
  width: 100%;
  height: 100%;
  background: #1e1e20;
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #404040;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

body.login a,
body.login a:visited {
  color: #2196F3;
  text-decoration: none;
}

body.login a:hover {text-decoration: underline;}


/* Hide footer on mobile */
@media screen and (max-width: 767px){
  body.login div.login-content+footer {
    display: none;
  }
}

body.login div.login-content+footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}

body.login footer {
  position: relative;
  width: 100%;
  height: 65px;
  z-index: 100;
  background: #F5F5F5;
  /*    background: rgba(0,0,0,0.2);
      border-top: 1px solid rgba(0,0,0,0.05);*/
}

body.login footer .copyright,
body.login footer nav {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  right: 50%;
  margin: -30px 0 0 -480px;
  width: 960px;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
}

body.login footer .copyright {
  color: #aaa;
}

body.login footer nav ul {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  list-style: none;
  margin: 0 0 30px 0;
}

body.login footer nav ul li {
  float: left;
  height: 60px;
  color: #aaa;
}

body.login footer nav ul li a {
  float: left;
  height: 60px;
  color: #aaa;
  padding: 0 10px;
}

body.login footer nav ul li:last-child a {
  padding-right: 0;
}

/* Login form */
body.login div.login-content form {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -170px;
  width: 340px;
  height: 400px;
}

/* logo */
body.login div.login-content .branding {
  text-align: center;
}

body.login div.login-content .branding img {
  margin: 0 0 20px 0;
}

@media screen and (max-width: 767px){
  body.login div.login-content .branding img {
    width: 185px;
    margin: 0 0 10px 0;
  }
}

/* logo message */
body.login div.login-content .branding h1 {
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  color: #666;
  font-size: 25px;
  margin: 0 0 25px 0;
  text-align: center;
  letter-spacing: -0.04em;
}

form.tk-stl-login-form {
  box-shadow: none;
}

form.tk-stl-login-form .field {margin: 0 auto 7px 0;}

form.tk-stl-login-form label {display: none;}

/* text inputs */
form.tk-stl-login-form input[type=text],
form.tk-stl-login-form input[type=email],
form.tk-stl-login-form input[type=password] {
  font-size: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: solid #ccc 1px;
  outline: 0;
  width: 100%;
  padding: 14px;
  color: #ccc;
}

form.tk-stl-login-form input[type=text]:focus,
form.tk-stl-login-form input[type=text].active,
form.tk-stl-login-form input[type=email]:focus,
form.tk-stl-login-form input[type=email].active,
form.tk-stl-login-form input[type=password]:focus,
form.tk-stl-login-form input[type=password].active {
  color: #404040;
  border-color: #999;
}

/* Full width button */
form.tk-stl-login-form .buttons {
  margin-top: 10px;
}

form.tk-stl-login-form button[type=submit] {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 0;
  padding: 0;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  background: #2196F3;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
}

body.login div.login-content .branding .tk-stl-login-form-logo img {
    padding:0.75em;
}

body.login div.login-content .branding h1 {
    margin:0;
    padding:1em 0 0 0;
    font-weight:500;
    color:#303030;
}