<!-- -------------------------------------------- -->
<!-- Build the data model                         -->
<!-- -------------------------------------------- -->

<search:platform var="solrplatform" conf="platforms.fusion.ecomm.ecomm_solr_pipeline"></search:platform>
<search:platform var="fusionplatform" conf="platforms.fusion.ecomm.ecomm_fusion_nlp"></search:platform>
<search:platform var="fusionsignalsplatform" conf="platforms.fusion.ecomm.ecommerce_3s_signals"></search:platform>
<search:platform var="fusionrecsplatform" conf="platforms.fusion.ecomm.ecomm_fusion_recs"></search:platform>

<search:query var="query" parameters='*' results-per-page="12"></search:query>

<search:response var="solrresponse" platform="solrplatform" query="query">
    <widget:spinner></widget:spinner>
</search:response>

<search:response var="fusionresponse" platform="fusionplatform" query="query">
    <widget:spinner></widget:spinner>
</search:response>

<search:response var="fusionsignalsresponse" platform="fusionsignalsplatform" query="query">
    <widget:spinner></widget:spinner>
</search:response>

<search:response var="fusionrecsresponse" platform="fusionrecsplatform" query="query">
    <widget:spinner></widget:spinner>
</search:response>
<!-- -------------------------------------------- -->
<!-- Define the view                              -->
<!-- -------------------------------------------- -->

<!-- Include the header from another file -->
<layout:include file="views/partials/header.compare.tpl.html"></layout:include>
<!-- CONTENT - Wrap the contend in a grid -->

<layout:grid styling="row-offcanvas">
    <!-- Animate the content when a response is received -->
    <layout:animate animation="animate-fadeInUp" on="solrresponse" layout-grid>
        <layout:block medium="1-3" large="1-4" drawer="left" id="sidebar" styling="bg-sidebar">
            <layout:sidebar>
                <h3>SOLR</h3>
                <search:result-list response="solrresponse" styling="cards-md-1" infinite-scrolling="false" platform="solrplatform" query="query">
                    <search:result styling="basic-card card-emphasis">
                        <layout:grid>
                            <div style="height:75px">
                            <layout:block medium="1-5" large="1-8">
                                <media:image result="result" field-name="image" image-service-url="" styling="squarecrop"></media:image>
                            </layout:block>
                            <layout:block medium="4-5" large="7-8">
                                <search:field max-characters="40" name="name" styling="title" url="/#/productdetail?id={{result.id}}&f=id%5B%22{{result.id}}%22%5D%5B%22{{result.id}}%22%5D&"></search:field>
                                <search:field name="id"></search:field>
                            </layout:block>
                            </div>
                        </layout:grid>
                    </search:result>
                </search:result-list>
            </layout:sidebar>
        </layout:block>
        <layout:block medium="1-3" large="1-4" drawer="left" id="sidebar" styling="bg-sidebar">
            <layout:sidebar>
                <h3>FUSION + 1SBoost</h3>
                <search:result-list response="fusionresponse" styling="cards-md-1" infinite-scrolling="false" platform="fusionplatform" query="query">
                    <search:result styling="basic-card card-emphasis">
                        <layout:grid>
                            <div style="height:75px">
                                <layout:block medium="1-5" large="1-8">
                                    <media:image result="result" field-name="image" image-service-url="" styling="squarecrop"></media:image>
                                </layout:block>
                                <layout:block medium="4-5" large="7-8">
                                    <search:field max-characters="40" name="name" styling="title" url="/#/productdetail?id={{result.id}}&f=id%5B%22{{result.id}}%22%5D%5B%22{{result.id}}%22%5D&"></search:field>
                                    <search:field name="id"></search:field>
                                </layout:block>
                            </div>
                        </layout:grid>
                    </search:result>
                </search:result-list>
            </layout:sidebar>
        </layout:block>
        <layout:block medium="1-3" large="1-4" drawer="left" id="sidebar" styling="bg-sidebar">
            <layout:sidebar>
                <h3>FUSION + SIGNALS</h3>
                <search:result-list response="fusionsignalsresponse" styling="cards-md-1" infinite-scrolling="false" platform="fusionsignalsplatform" query="query">
                    <search:result styling="basic-card card-emphasis">
                        <layout:grid>
                            <div style="height:75px">
                                <layout:block medium="1-5" large="1-8">
                                    <media:image result="result" field-name="image" image-service-url="" styling="squarecrop"></media:image>
                                </layout:block>
                                <layout:block medium="4-5" large="7-8">
                                    <search:field max-characters="40" name="name" styling="title" url="/#/productdetail?id={{result.id}}&f=id%5B%22{{result.id}}%22%5D%5B%22{{result.id}}%22%5D&"></search:field>
                                    <search:field name="id"></search:field>
                                </layout:block>
                            </div>
                        </layout:grid>
                    </search:result>
                </search:result-list>
            </layout:sidebar>
        </layout:block>
        <layout:block medium="1-3" large="1-4" drawer="left" id="sidebar" styling="bg-sidebar">
            <layout:sidebar>
                <h3>FUSION + SIGNALS + RECOMMENDERS</h3>
                <search:result-list response="fusionrecsresponse" styling="cards-md-1" infinite-scrolling="false" platform="fusionrecsplatform" query="query">
                    <search:result styling="basic-card card-emphasis">
                        <layout:grid>
                            <div style="height:75px">
                                <layout:block medium="1-5" large="1-8">
                                    <media:image result="result" field-name="image" image-service-url="" styling="squarecrop"></media:image>
                                </layout:block>
                                <layout:block medium="4-5" large="7-8">
                                    <search:field max-characters="40" name="name" styling="title" url="/#/productdetail?id={{result.id}}&f=id%5B%22{{result.id}}%22%5D%5B%22{{result.id}}%22%5D&"></search:field>
                                    <search:field name="id"></search:field>
                                </layout:block>
                            </div>
                        </layout:grid>
                    </search:result>
                </search:result-list>
            </layout:sidebar>
        </layout:block>
        <!-- CONTENT > RESULTS -->
        <layout:block>
            <layout:box padding-top="5px">
                <!-- ALL RESULTS WRAPPER -->
                <layout:block>
                    <layout:grid>
                        <!-- APP RESULTS CARD LIST -->
                        <layout:block>

                            <!-- No results message -->
                            <search:no-results response="response">

                            </search:no-results>

                            <!-- Uncomment to add pagination -->
                            <!--<search:pagination response="response" max-pages="3"></search:pagination>-->
                        </layout:block>
                    </layout:grid>
                </layout:block>

            </layout:box>
        </layout:block>

    </layout:animate>
</layout:grid>
