<!-- -------------------------------------------- -->
<!-- Build the data model                         -->
<!-- -------------------------------------------- -->

<search:platform var="platform" conf="platforms.fusion.enterprisesearchsecurity"></search:platform>

<search:query var="query" parameters='*' results-per-page="12"></search:query>

<search:response var="response" platform="platform" query="query">
	<widget:spinner></widget:spinner>
</search:response>

<!-- -------------------------------------------- -->
<!-- Define the view                              -->
<!-- -------------------------------------------- -->

<!-- Include the header from another file -->
<layout:include file="views/header.tpl.html"></layout:include>

<!-- CONTENT - Wrap the contend in a grid -->
<layout:grid styling="row-offcanvas">

	<!-- Animate the content when a response is received -->
	<layout:animate animation="animate-fadeInUp" on="response" layout-grid>

		<!-- Split the page into a sidebar and a result list -->
		<!-- CONTENT > SIDEBAR -->
		<layout:block medium="1-3" large="1-4" drawer="left" id="sidebar" styling="bg-sidebar">
			<layout:sidebar>
				<!-- List facets -->
				<search:facet-list response="response"
								   styling="facet-list"
								   facet-names="*">

					<!-- <search:facet facet-name="Sponsor_Collaborators" search-enabled="true" max-characters="25" show="8" collapsible="true"></search:facet> -->
					<search:facet max-characters="25" show="8" collapsible="true" show-more="8"></search:facet>
				</search:facet-list>
			</layout:sidebar>
		</layout:block>

		<!-- CONTENT > RESULTS -->
		<layout:block medium="2-3" large="3-4">

			<layout:box padding-top="0">

				<!-- SORT OPTIONS -->
				<layout:grid styling="sortoptions-wrapper">
					<layout:block tiny="3-8" small="1-3">
						<search:response-statistics response="response"></search:response-statistics>
					</layout:block>
					<layout:block tiny="5-8" small="2-3">
						<layout:box>
							<layout:controls class="right">
								<toggle:controls labels="Charts" panes="incidents-panes"></toggle:controls>
							</layout:controls>
						</layout:box>
					</layout:block>
				</layout:grid>

				<!-- ALL RESULTS WRAPPER -->
				<layout:block>
					<layout:grid>

						<!-- APP RESULTS CARD LIST -->
						<layout:block>
							<layout:grid>
								<layout:block>

									<!-- SELECTED FACETS -->
									<search:breadcrumbs response="response" group-by-field="true"></search:breadcrumbs>

									<layout:box padding-top="0" padding-left="0" padding-right="0">

										<!-- Breadcrumb Control Bar -->
										<search:tabs response="response" field-name="Recruitment"
													 all-label="All" styling="tabs"
													 platform="platform" query="query"
													 tabs="Completed,Recruiting,Enrolling by invitation,Terminated,Withdrawn"></search:tabs>

										<!-- Toggle charts -->
										<toggle:panes id="incidents-panes">
											<toggle:pane>

												<chart:display response="response" type="pie"
															   color="#143C5A,#0D1A31,#16A0B7,#5FDEC0,#50BFBE,#579FB2,#617F9B,#64617D,#5C465C,#5AB358"
															   facet-name="Conditions" query="query" title="Conditions">

													<chart:export file-name="Conditions"></chart:export>
													<chart:credit text="twigkit.com" href="http://www.twigkit.com"></chart:credit>

												</chart:display>

											</toggle:pane>
										</toggle:panes>
									</layout:box>

									<!-- Search Results - 1 card on medium screens 2 on larger screens - infinte scrolling -->
									<search:result-list response="response" styling="cards-md-1 cards-lg-2" infinite-scrolling="true" platform="platform" query="query">
										<search:result styling="basic-card card-emphasis">

											<search:field name="title" styling="title dividing-header"></search:field>

											<search:field name="twitter_description" label="Description" styling="label-left" query="${query}"></search:field>
											{{ result | field:'urlX' | display | htmlToPlainText }}
										</search:result>
									</search:result-list>

								</layout:block>
							</layout:grid>

							<!-- No results message -->
							<search:no-results response="response">
								<h2 class="zero-results" styling="text-center">Sorry, there are no results that match your search criteria.</h2>
								<p class="zero-results" styling="text-center">If you've checked your spelling, try using more general keywords.</p>
							</search:no-results>

							<!-- Uncomment to add pagination -->
							<!--<search:pagination response="response" max-pages="3"></search:pagination>-->

						</layout:block>

					</layout:grid>
				</layout:block>

			</layout:box>
		</layout:block>

	</layout:animate>
</layout:grid>
