<!-- -------------------------------------------- -->
<!-- Build the data model                         -->
<!-- -------------------------------------------- -->

<!--typeahead config -->
<search:platform var="ecomm_aggr_platform" conf="platforms.fusion.ecomm.ecommtypeaheadaggr"></search:platform>
<search:query var="typeahead_query" parameters='*' results-per-page="12"></search:query>
<search:response var="typeahead_response" platform="ecomm_aggr_platform" query="typeahead_query">
    <widget:spinner></widget:spinner>
</search:response>

<!-- Home Page Platform Configs -->
<search:platform var="platform" conf="platforms.fusion.ecomm.ecomm_user_item_recs"></search:platform>
<search:platform var="flashsaleplatform" conf="platforms.fusion.ecomm.ecomm_home_page"></search:platform>

<search:query var="referenceQuery" parameters='*'></search:query>
<helper:set var="myText" value="'3eee9ed2f449642c68d403ce94b300ec71234603'"></helper:set>

<search:query var="query" parameters='*' results-per-page="6" ng-if="root.userId != ''">
    <!--query:custom name="userId" value="dc1618c0d937f32f4a330c9fcc4d1bc45177b53e"></query:custom-->
    <query:custom name="userId" value="{{$root.userId}}"></query:custom>
</search:query>
<search:query var="flashsale" parameters='-' results-per-page="6" modified-query="flash sale">
</search:query>

<search:response var="flashsaleresponse" platform="flashsaleplatform" query="flashsale">
    <widget:spinner></widget:spinner>
</search:response>

<search:response var="response" platform="platform" query="query" ng-if="root.userId != ''">
    <widget:spinner></widget:spinner>
</search:response>

<!-- -------------------------------------------- -->
<!-- Define the view                              -->
<!-- -------------------------------------------- -->
<div class="tk-stl-outerwrapper">
    <!-- Include the header from another file -->
    <!--layout:include file="views/partials/header.tpl.html"></layout:include-->
    <ng-include src="'views/partials/header.tpl.html'"></ng-include>
    <!-- CONTENT - Wrap the contend in a grid -->
    <div class="tk-stl-centercontent ecomm-bg-grey">
        <layout:grid styling="row-offcanvas" class="home-grid-control">
            <!-- Animate the content when a response is received -->

            <div class="home-float-top">
                <layout:animate animation="animate-fadeInUp" on="response" layout-grid>
                    <!-- CONTENT > RESULTS -->

                    <layout:block>
                        <layout:box padding-top="5px">
                            <!-- ALL RESULTS WRAPPER -->
                            <layout:block>
                                <layout:grid>
                                    <!-- APP RESULTS CARD LIST -->
                                    <layout:block>
                                        <layout:grid>
                                            <layout:block>
                                                <img style="display:block; margin-left:auto; margin-right:auto; z-index:103; padding-bottom:20px;" src="./assets/Images/Banners/24Hour-Promotion.png" alt="Twigkit">
                                                <!-- Search Results - infinte scrolling -->
                                                <search:result-list response="flashsaleresponse" styling="cards-xl-6 cards-md-4 cards-sm-2" infinite-scrolling="false" platform="flashsaleplatform" query="flashsale">
                                                    <search:result styling="basic-card card-emphasis">
                                                        <layout:grid>
                                                            <layout:block>
                                                                <div class="home-card">
                                                                    <div class="home-card-content">
                                                                        <media:image result="result" field-name="image" image-service-url="" styling="squarecrop"></media:image>
                                                                    </div>
                                                                        <search:field max-characters="40" name="name" styling="title" url="/#/productdetail?id={{result.id}}&f=id%5B%22{{result.id}}%22%5D%5B%22{{result.id}}%22%5D&"></search:field>
                                                                    <!-- search:field name="id" styling="dividing-header title" action="productdetail" query="${query}"></search:field -->
                                                                </div>
                                                                <search:field name="regularPrice" label="" styling="title" prefix="$"></search:field>
                                                            </layout:block>
                                                        </layout:grid>
                                                    </search:result>
                                                </search:result-list>
                                            </layout:block>
                                        </layout:grid>

                                        <!-- No results message -->
                                        <search:no-results response="response">

                                        </search:no-results>

                                        <!-- Uncomment to add pagination -->
                                        <!--<search:pagination response="response" max-pages="3"></search:pagination>-->
                                    </layout:block>
                                </layout:grid>
                            </layout:block>

                        </layout:box>
                    </layout:block>

                </layout:animate>
            </div>
        </layout:grid>
    </div>
    <div class="tk-stl-centercontent ecomm-bg-grey">
        <layout:grid styling="row-offcanvas" class="home-grid-control">
            <!-- Animate the content when a response is received -->
            <div class="home-float-bottom">
                <layout:animate animation="animate-fadeInUp" on="response" layout-grid>
                    <!-- CONTENT > RESULTS -->
                    <layout:block>
                        <layout:box padding-top="5px">
                            <!-- ALL RESULTS WRAPPER -->
                            <layout:block>
                                <layout:grid>
                                    <!-- APP RESULTS CARD LIST -->
                                    <layout:block>
                                        <layout:grid>
                                            <layout:block>
                                                <h3 styling="title"><strong>{{ user }}, recommended for you!</strong></h3>
                                                <!-- Search Results - infinte scrolling -->
                                                <search:result-list response="response" styling="cards-xl-6 cards-md-4 cards-sm-2" infinite-scrolling="false" platform="platform" query="query">
                                                    <search:result styling="basic-card card-emphasis">
                                                        <layout:grid>
                                                            <layout:block>
                                                                <div class="home-card">
                                                                    <div class="home-card-content">
                                                                        <div class="card-image-assist"><media:image result="result" field-name="image" image-service-url="" styling="squarecrop"></media:image></div>
                                                                    </div>
                                                                    <search:field max-characters="40" name="name" styling="title" url="/#/productdetail?id={{result.id}}&f=id%5B%22{{result.id}}%22%5D%5B%22{{result.id}}%22%5D&"></search:field>
                                                                </div>
                                                                <!-- search:field name="id" styling="dividing-header title" action="productdetail" query="${query}"></search:field -->
                                                                <search:field name="regularPrice" label="" styling="title" prefix="$"></search:field>
                                                            </layout:block>
                                                        </layout:grid>
                                                    </search:result>
                                                </search:result-list>
                                            </layout:block>
                                        </layout:grid>
                                        <!-- No results message -->
                                        <search:no-results response="response">

                                        </search:no-results>

                                        <!-- Uncomment to add pagination -->
                                        <!--<search:pagination response="response" max-pages="3"></search:pagination>-->
                                    </layout:block>
                                </layout:grid>
                            </layout:block>

                        </layout:box>
                    </layout:block>

                </layout:animate>
            </div>
        </layout:grid>
    </div>
    <!-- Include Page Footer -->
    <div class="ecomm-footer">
        <layout:include file="views/partials/footer.tpl.html"></layout:include>
    </div>
</div>

