<!-- -------------------------------------------- -->
<!-- Build the data model                         -->
<!-- -------------------------------------------- -->

<!--typeahead config -->
<search:platform var="ecomm_aggr_platform" conf="platforms.fusion.ecomm.ecommtypeaheadaggr"></search:platform>
<search:query var="typeahead_query" parameters='*' results-per-page="12"></search:query>
<search:response var="typeahead_response" platform="ecomm_aggr_platform" query="typeahead_query">
    <widget:spinner></widget:spinner>
</search:response>

<search:platform var="platform" conf="platforms.fusion.ecomm.ecomm_query_profile"></search:platform>
<search:platform var="itemsimsplatform" conf="platforms.fusion.ecomm.ecomm_signals_item_sims"></search:platform>

<search:query var="referenceQuery" parameters='*'></search:query>

<search:query var="query" parameters='q,f' results-per-page="1"></search:query>


<search:query var="itemsimsquery" parameters="-" custom="id[{{ referenceQuery.id }}]" results-per-page="4">
    <query:custom name="itemId" value="{{referenceQuery.id}}"></query:custom>
</search:query>

<search:response var="response" platform="platform" query="query">
    <widget:spinner></widget:spinner>
</search:response>

<search:response var="itemsimsresponse" platform="itemsimsplatform" query="itemsimsquery">
    <widget:spinner></widget:spinner>
</search:response>

<!-- -------------------------------------------- -->
<!-- Define the view                              -->
<!-- -------------------------------------------- -->
<!-- Wrap View Container -->
<div class="tk-stl-outerwrapper">
    <!-- Include the header from another file -->
    <!--layout:include file="views/partials/header.tpl.html"></layout:include-->
    <ng-include src="'views/partials/header.tpl.html'"></ng-include>

    <!-- CONTENT - Wrap the contend in a grid -->
    <div class="tk-stl-centercontent ecomm-bg-grey">
        <layout:grid styling="row-offcanvas" class="detail-grid-control">
            <!-- Animate the content when a response is received -->
            <div class="detail-float">
                <layout:animate animation="animate-fadeInUp" on="response" layout-grid>

                    <!-- CONTENT > RESULTS -->
                    <layout:block>
                        <layout:box padding-top="0">
                            <!-- ALL RESULTS WRAPPER -->
                            <layout:block>
                                <layout:grid>
                                    <!-- APP RESULTS CARD LIST -->
                                    <layout:block>
                                        <layout:grid>
                                            <layout:block>

                                                <layout:box padding-top="0" padding-left="0" padding-right="0">
                                                </layout:box>

                                                <!-- Search Results - 1 card on medium screens 2 on larger screens - infinte scrolling -->
                                                <search:result-list response="response" styling="cards-md-1" infinite-scrolling="false" platform="platform" query="query">
                                                    <!-- <search:result styling="basic-card card-emphasis"> -->
                                                    <search:result>
                                                        <layout:grid>
                                                            <layout:block small="1-2" medium="1-5" large="1-8">
                                                                <media:image result="result" field-name="image" image-service-url="" styling="squarecrop"></media:image>
                                                            </layout:block>
                                                            <layout:block small="1-2" medium="4-5" large="7-8">
                                                                <layout:box padding-left="2" padding-right="2" padding-top="0" padding-bottom="0">
                                                                    <search:field name="name" styling="title"></search:field>
                                                                    <search:field name="regularPrice" label="" styling="title dividing-header" prefix="$"></search:field>

                                                                </layout:box>
                                                                <layout:box padding-left="2" padding-right="2" padding-top="5" padding-bottom="0">
                                                                    <search:field name="features" label="" styling="label-left"></search:field>
                                                                </layout:box>
                                                            </layout:block>

                                                        </layout:grid>
                                                    </search:result>
                                                </search:result-list>
                                            </layout:block>
                                        </layout:grid>

                                        <!-- No results message -->
                                        <search:no-results response="response">

                                        </search:no-results>
                                        <h3 styling="title"><strong>Other users also viewed...</strong></h3>
                                        <layout:box>
                                            <search:result-list response="itemsimsresponse" styling="cards-md-4" infinite-scrolling="false" platform="itemsimsplatform" query="itemsimsquery">
                                                <!-- <search:result styling="basic-card card-emphasis"> -->
                                                <search:result styling="basic-card card-emphasis">
                                                    <layout:grid>
                                                        <layout:block>
                                                            <div class="home-card">
                                                                <div class="home-card-content">
                                                                    <div class="card-image-assist"><media:image result="result" field-name="image" image-service-url="" styling="squarecrop"></media:image></div>
                                                                </div>
                                                                <search:field max-characters="100" name="name" styling="title" url="/#/productdetail?id={{result.id}}&f=id%5B%22{{result.id}}%22%5D%5B%22{{result.id}}%22%5D&"></search:field>
                                                            </div>
                                                            <!-- search:field name="id" styling="dividing-header title" action="productdetail" query="${query}"></search:field -->
                                                            <search:field name="regularPrice" label="" styling="title" prefix="$"></search:field>
                                                        </layout:block>
                                                    </layout:grid>
                                                </search:result>
                                            </search:result-list>
                                        </layout:box>
                                        <!-- Uncomment to add pagination -->
                                        <!--<search:pagination response="response" max-pages="3"></search:pagination>-->
                                    </layout:block>
                                </layout:grid>
                            </layout:block>
                        </layout:box>
                    </layout:block>

                </layout:animate>
            </div>
        </layout:grid>
    </div>
    <div class="ecomm-footer">
        <layout:include file="views/partials/footer.tpl.html"></layout:include>
    </div>
</div>
