<!-- -------------------------------------------- -->
<!-- Build the data model                         -->
<!-- -------------------------------------------- -->

<search:twigkit parallel="true" redirectOnError="false">
    <search:platform var="customerPlatform" conf="platforms.fusion.customers" dateFields="customer_since"></search:platform>
	<search:content var="customer" platform="customerPlatform" load="${param.value}"></search:content>

   <search:platform var="messagesPlatform" conf="platforms.fusion.messages"></search:platform>
    <!--search:query var="messagesQuery" parameters="*" resultsPerPage="20" filters="from['Customer']"></search:query-->
    <search:query var="messagesQuery" parameters="*" resultsPerPage="20"></search:query>
   <search:response var="messagesResponse" platform="messagesPlatform" query="messagesQuery"></search:response>

    <search:platform var="docPlatform" conf="platforms.fusion.documents"></search:platform>
    <search:query var="docQuery" parameters="-"  customer_id="1"></search:query>
    <search:response var="docResponse" platform="docPlatform" query="docQuery"></search:response>

    <search:platform var="transactionsPlatform" conf="platforms.fusion.transactions"></search:platform>
    <search:query var="transactionsQuery" parameters="q,f">
        <search:filter field="transaction_customer_id" value="{{param.value}}"/>
    </search:query>
   <search:response var="transactions" platform="transactionsPlatform" query="transactionsQuery"></search:response>

</search:twigkit>

<!-- -------------------------------------------- -->
<!-- Define the view                              -->
<!-- -------------------------------------------- -->

<helper:title title="{{ $root.application_name }}" ng-if="$root.application_name"></helper:title>

<!-- HEADER -->
<layout:include file="views/partials/header.tpl.html" action="search"></layout:include>

<!-- CONTENT -->
<layout:grid styling="row-offcanvas" class="flex-1">

    <!-- Animate page when response received -->
    <layout:animate animation="animate-fadeInUp" on="response" layout-grid>
            <!--client:header query="${eventQuery}" action="/" />
        
            <client:customerHeader customer="${customer}" /-->
        
            <article class="tk-bl-panel">
                <section class="tk-bl-gauge health-good">
                    <h3 class="gauge-title">Account Completeness</h3>
                    <p class="gauge-value">${customer.fields.completeness}%</p>
                    <p class="gauge-caption">5/5 required documents</p>
                </section>
                <section class="tk-bl-gauge health-good">
                    <h3 class="gauge-title">Customer Since</h3>
                    <p class="gauge-value"><fmt:formatDate value="customer.fields.customer_since.value.actual" type="date" pattern="y" /></p>
                    <p class="gauge-caption"><fmt:formatDate value="customer.fields.customer_since.value.actual" type="date" pattern="MMMM dd, y" /></p>
                </section>
                <section class="tk-bl-gauge health-good">
                    <h3 class="gauge-title">Lifetime Value</h3>
                    <p class="gauge-value"><fmt:formatNumber value="customer.fields.lifetime_value.value.actual" type="currency"/></p>
                    <p class="gauge-caption">Since becoming a customer</p>
                </section>
                <section class="tk-bl-gauge health-good">
                    <h3 class="gauge-title">Credit Score</h3>
                    <p class="gauge-value">${customer.fields.credit_score}</p>
                    <p class="gauge-caption">Checked <fmt:formatDate value="customer.fields.customer_since.value.actual" type="date" pattern="MMMM dd, y" /></p>
                </section>
            </article>
        
            <header class="tk-bl-overview tk-stl-overview">
                <section class="tk-bl-overview-sidebar">
                    <h2 class="section-title">ID Documents</h2>
        
                    <search:result-list response="docResponse" addCssClass="document-list">
                        <search:result>
                            <a href="${pageContext.request.contextPath}/image-preview/?image=${search:encodeForURL(result.fields.image_url)}&title=${search:encodeForURL(result.fields.title)}" class="preview">
                                <media:image fieldName="image_url" fieldPrefix="http://us-google.twigkit.net/kyc" style="small-thumbnail"></media:image>
                                <search:field fieldName="title"></search:field>
                                <search:field fieldName="upload_date" format="dd MMM YYYY" prefix="Added on " addCssClass="date-added"></search:field>
                            </a>
                        </search:result>
                    </search:result-list>
        
                </section>
                <section class="tk-bl-overview-main">
                    <h2 class="section-title">Customer Details</h2>
                    <toggle:controls labels="Personal,Employment,Products" panes="customer-details" style="tabs"></toggle:controls>
                    <toggle:panes id="customer-details" visible="true" allowMultiple="false">
                        <toggle:pane visible="true">
                            <search:result result="customer" html="false">
                                <search:field fieldName="name" label="Name" style="label-left"></search:field>
                                <search:field fieldName="gender" label="Gender" style="label-left"></search:field>
                                <search:field fieldName="marital_status" label="Marital Status" style="label-left"></search:field>
                                <search:field fieldName="dob" label="Date of Birth" style="label-left" format="dd MMM YYYY"></search:field>
                                <search:field fieldName="nationality" label="Nationality" style="label-left"></search:field>
                                <search:field fieldName="country_of_residence" label="Residence" style="label-left"></search:field>
                                <search:field fieldName="phone" label="Phone" style="label-left"></search:field>
                                <search:field fieldName="email" label="Email" style="label-left"></search:field>
                                <search:field fieldName="address" label="Address" style="label-left"></search:field>
                                <search:field fieldName="city" label="City" style="label-left"></search:field>
                                <search:field fieldName="state" label="State" style="label-left"></search:field>
                                <search:field fieldName="zip" label="Zip" style="label-left"></search:field>
                            </search:result>
                        </toggle:pane>
                        <toggle:pane>
                            <search:result result="customer" html="false">
                                <search:field fieldName="employment_status" label="Employment Status" style="label-left"></search:field>
                                <search:field fieldName="employer" label="Employer" style="label-left"></search:field>
                                <search:field fieldName="industry" label="Industry" style="label-left"></search:field>
                                <search:field fieldName="occupation" label="Occupation" style="label-left"></search:field>
                                <search:field fieldName="job_title" label="Job Title" style="label-left"></search:field>
                                <search:field fieldName="employment_start_date" label="Start Date" style="label-left" format="dd MMM YYYY"></search:field>
                                <search:field fieldName="employer_address" label="Employer Address" style="label-left"></search:field>
                                <search:field fieldName="payment_frequency" label="Payment Frequency" style="label-left"></search:field>
                                <search:field fieldName="gross_annual_income" label="Gross Annual" style="label-left"></search:field>
                                <search:field fieldName="net_monthly_income" label="Net Monthly" style="label-left"></search:field>
                            </search:result>
                        </toggle:pane>
                        <toggle:pane>
                            <search:result result="customer" html="false">
                                <search:field fieldName="current_products" label="Current" style="label-left"></search:field>
                                <search:field fieldName="recommended_products" label="Recommended" style="label-left"></search:field>
                            </search:result>
                        </toggle:pane>
                    </toggle:panes>
                </section>
                <section class="tk-bl-overview-extra">
                    <h2 class="section-title">Notes</h2>
                    <social:commentForm target="${customer.id}" buttonLabel="Post" placeholder="Leave a comment..."></social:commentForm>
                    <social:commentList target="${customer.id}" format="dd MMM yyyy"></social:commentList>
                </section>
            </header>
        
            <search:conditional test="transactions.hits.actual > 0">
                <div class="recent-transactions">
        
                    <block:content>
                    
                        <h2 class="section-title">Recent Transactions</h2>
                        <a href="${pageContext.request.contextPath}/customers/${param.value}/transactions/" class="section-link">View all</a>
        
                        <%-- <search:tabs action="${pageContext.request.contextPath}/customers/${param.value}/" response="${transactions}" fieldName="account" tabs="Checking,Savings,Credit Card,Mortgage" allLabel="All" countNumber="rounded" /> --%>
        
                        <div class="table-container">
                            <table:resultList response="${transactions}" >
                                <table:header cssClass="top">
                                    <table:headerCell name="transaction_date" label="Date" cssClass="title"></table:headerCell>
                                    <table:headerCell name="title" label="Description" cssClass="title"></table:headerCell>
                                    <table:headerCell name="account" label="Account" cssClass="title"></table:headerCell>
                                    <table:headerCell name="type" label="Event Type" cssClass="title"></table:headerCell>
                                    <table:headerCell name="amount" label="Amount" cssClass="title"></table:headerCell>
                                </table:header>
                                <table:body>
                                    <table:row>
                                        <table:cell name="transaction_date" format="dd MMM YYYY" show="1"></table:cell>
                                        <table:cell name="title"></table:cell>
                                        <table:cell name="account"></table:cell>
                                        <table:cell name="type"></table:cell>
                                        <table:cell name="amount" format="#,###.00"></table:cell>
                                    </table:row>
                                </table:body>
                            </table:resultList>
                        </div>
        
                    </block:content>
                    <block:sidebar>
        
                        <h2 class="section-title">Recent Messages</h2>
                        <a href="${pageContext.request.contextPath}/customers/${param.value}/messages/" class="section-link">View all</a>
        
                        <search:resultList response="${messagesResponse}" addCssClass="message-result-list-concise">
                            <search:result>
                                <search:field fieldName="message_date" style="inline" format="dd MMM YYYY" show="1" />
                                <a class="preview" href="${pageContext.request.contextPath}/customers/${param.value}/messages/${result.fields.id}/">
                                    <search:field fieldName="title" style="title" />
                                </a>
                                <search:field fieldName="message" maxCharacters="40" />
                            </search:result>
                        </search:resultList>
        
                    </block:sidebar>
        
                </div>
            </search:conditional>
    </layout:animate>

</layout:grid>
    