<div class="facet-hierarchy">
<div class="odd">Taxonomy</div>
    {% set fqs = fq %}
  <div id="hierarchy"></div>
  <script type="text/javascript">
    jQuery(document).ready(function(){
      var toggleCat = function() {
          if ( jQuery(this).hasClass('expanded') ) {
            /*console.log("collapsing:");
            console.log(jQuery(this));*/
          jQuery(this).removeClass('expanded');
          jQuery(this).addClass('collapsed').text('+')
            .parent().children('ul').remove();
        } else {
          /*console.log("Expanding:");
          console.log(jQuery(this));*/
          list_item = jQuery(this).removeClass('collapsed').addClass('expanded').text('-').parent();
          var depth = parseInt(list_item.attr('class').split('-', 2)[1]);
          var fq = '{!raw f=hierarchy}'+escape(depth+'/'+list_item.find('.catName').text());
          var request = request_data;
          request['facet.prefix'] = depth+1+'/';
          jQuery.getJSON(url+'&fq='+fq, request, function(data){appendCats(list_item, data);});
        }
      }
      var appendCats = function( list_item, data ) {
        var list = jQuery('<ul class="facet-list" style="margin-left: 1em"></ul>');
        catList(list, data);
        list_item.append(list);
        list.find('.expand').click( toggleCat ).css({cursor:'pointer', display:'inline-block', width:'1em'});
      }
      var catList = function( list, data ) {
        var item = '';
        var link = '';
        var catName = '';
        var count = 0;
        for ( var i = 0; i < data.facet_counts.facet_fields.hierarchy.length; i=i+2 ) {
          catDepth = data.facet_counts.facet_fields.hierarchy[i].split('/',2)[0];
          catName = data.facet_counts.facet_fields.hierarchy[i].split('/',2)[1];
          count = data.facet_counts.facet_fields.hierarchy[i+1];
          link = window.location.href+'&fq={!raw f=hierarchy}'+escape(data.facet_counts.facet_fields.hierarchy[i]);
          item = '<li class="depth-'+catDepth+'"><span class="expand collapsed" id="span-depth-'+catDepth +'">+</span>';
          item += '<a href="'+link+'">';
          item += '<span class="catName">'+catName+'</span> <span class="catCount">('+count+')</span>';
          item += '</a>';
          item += '</li>';
          list.append(jQuery(item));
        }
      }
      var listCats = function( data ) {
        var list = jQuery('<ul class="facet-list"></ul>');
        catList(list, data);
        list = jQuery('<div class="facet facet-taxonomy"></div>').append(list);
        jQuery('#hierarchy').before(list).prev()
          .find('.expand').click( toggleCat ).css({cursor:'pointer', display:'inline-block', width:'1em'});

      }
      var depth = 0;
      /*foreach($fq in $request.getParameterValues('fq'))*/
      var fq = '';
      {% if fqs %}
          {% for fq in fqs %}
              console.log("FQ:  {{fq}} ");
              {% set fq_split = fq|split_category_facet %}
              console.log("Split:  {{fq_split}} ");

              {% if fq_split[0] == "hierarchy" %}
                  if (depth < {{fq_split[2]}}) {
                      depth = {{fq_split[2]}};
                  }
                  console.log("fq split:  {{ fq_split[1] }}");
                  fq = fq+'fq='+'{!raw f=hierarchy}'+escape("{{fq_split[1]}}")+'&';
              {% else %}
                  console.log("fq else: {{ fq }}");
                  fq = fq+'fq={{fq}}&';
              {% endif %}
          {% endfor %}
      {% endif %}



        /*#end*/
        var request_data = {
        wt: 'json',
        'facet.prefix': (depth+1)+'/'
      };

      var q = "q={{raw_response['q']}}";
      if ( !q || q.length < 2  ) {
          q = "q=*:*";
      }
      if ( fq.length > 0  && q.length <= 0) {
        fq=fq.slice(0,-1);
      }
      console.log("final fq: " + fq);
      var url = "/hierarchical_facets?"+fq+q
      the_response = jQuery.getJSON(url, request_data, listCats);
    });
  </script>
</div>
