{% if the_facets['facet_queries'] %}
<div class="facet-queries">
    <div class="odd">Queries</div>
    {% for facets in the_facets['facet_queries'] %}
        {% set field = the_facets['facet_queries'][facets] %}
        {% if field|length > 0 %}
            <div class="facet-header">{{ facets|title|replace('_facet', '' )|replace('_', ' ') }}</div>
            <div class="facet-group">
            {% for val in field %}
                {% if loop.index0 % 2 == 0 %}
                    <div class="facet-val">{{ val }} ({{ field[loop.index0 + 1 ] }})</div>
                {% endif %}
            {% endfor %}

            </div>
        {% endif %}
    {% endfor %}
</div>
{% endif %}