{% if the_facets['facet_ranges'] %}
<div class="facet-ranges">
    <div class="odd">Ranges</div>
    {% for facets in the_facets['facet_ranges'] %}
        {% set field = the_facets['facet_ranges'][facets] %}
        {% if field|length > 0 %}
            {% set gap = field['gap'] %}
            <div class="facet-header">{{ facets }}</div>
            {% if field['before'] > 0%}<div class="facet-val">Before ({{ field['before'] }})</div>{% endif %}
            <div class="facet-val">Between ({{ field['between'] }})</div>
            <div class="facet-group">
            {% for val in field['counts'] %}
                {% if loop.index0 % 2 == 0 %}
                    {% set upper = val|int + gap - 1 %}
                    <div class="range-facet-val">{{ val|int }} - {{ upper|int }} ({{ field['counts'][loop.index0 + 1 ] }})</div>
                {% endif %}
            {% endfor %}
            </div>
            {% if field['after'] > 0%}<div class="facet-val">After ({{ field['after'] }})</div>{% endif %}
        {% endif %}
    {% endfor %}
</div>
{% endif %}