<div class="facet-results" id="facet_results">

    {% for facet_type in the_facets %}
        {% if  facet_type == "facet_fields" %}
            {% include 'facet_fields.jinja2' %}
        {% elif facet_type == 'facet_ranges' %}
            {% include 'facet_ranges.jinja2' %}
        {% elif facet_type == "facet_queries" %}
            {% include 'facet_queries.jinja2' %}
        {% else %}
        {% endif %}
    {% endfor %}

</div>