{% if the_facets['facet_pivot'] %}
<div class="facet-pivot">
    <div class="odd">Pivots</div>
    {% for facets in the_facets['facet_pivot'] %}
        {% set field = the_facets['facet_pivot'][facets] %}
        {% if field|length > 0 %}
            <div class="facet-header">{{ facets|replace('_facet', '' )|replace('attr_', '' )|replace('_', ' ')|title }}</div>
            <div class="facet-group">
                <!-- Better way to do pivot faceting? -->
            {% for val in field %}
                <div class="pivot-1">{{ val['field']|replace('_facet', '' )|replace('attr_', '' )|replace('_', ' ')|title }}: <a href="{{ current_url }}&fq={{ val['field'] }}:{{ val['value'] }}">{{ val['value'] }}</a> ({{ val['count'] }})
                {% for pivot in val['pivot'] %}
                    <div class="pivot-2">{{ pivot['field']|replace('_facet', '' )|replace('attr_', '' )|replace('_', ' ')|title }}:</div>
                    <div class="pivot-2"><a href="{{ current_url }}&fq={{ val['field'] }}:{{ val['value'] }}&fq={{ pivot['field'] }}:{{ pivot['value'] }}">{{ pivot['value'] }}</a> ({{ pivot['count'] }})
                    {% for nest in pivot['pivot'] %}
                        {% if loop.first %}
                            <div>{{ nest['field']|replace('_facet', '' )|replace('attr_', '' )|replace('_', ' ')|title }}:</div>
                        {% endif %}
                        <div class="pivot-3" ><a href="{{ current_url }}&fq={{ val['field'] }}:{{ val['value'] }}&fq={{ pivot['field'] }}:{{ pivot['value'] }}&fq={{ nest['field'] }}:{{ nest['value'] }}">{{ nest['value'] }}</a> ({{ nest['count'] }})</div>
                    {% endfor %}
                    </div>
                {% endfor %}
                </div>
            {% endfor %}

            </div>
        {% endif %}
    {% endfor %}
</div>
{% endif %}