<div class="result, historical, {{ loopVar.cycle('odd', 'even') }}">
    <div><label for="symbol_{{ loopVar.index0 }}">Symbol</label>: <span id="symbol_{{ loopVar.index0 }}">{{ result['symbol'] }}</span></div>
    <div>
        <table class="table table-condensed">
            <tr><th>Open</th><th>Close</th><th>Volume</th><th>High</th><th>Low</th></tr>
            <tr>
                <td>{{ result['open'] }}</td>
                <td>{{ result['close'] }}</td>
                <td>{{ result['volume'] }}</td>
                <td>{{ result['high'] }}</td>
                <td>{{ result['low'] }}</td>
            </tr>
        </table>
    </div>
</div>