{% if active == "Historical"%}
<script type="application/javascript">
    function sort_by(selector){
        //alert("sel: " + selector.value);
        location.href = "{{ current_url }}&sort_criteria=" + selector.value;
    }
</script>
<label for="sort-criteria">Sort by</label>:
<select id="sort-criteria" name="sort-criteria" onchange="sort_by(this)">

    <option value="close" {% if sort_criteria == 'close'%}selected{% endif %}>Close</option>
    <option value="high" {% if sort_criteria == 'high'%}selected{% endif %}>High</option>
    <option value="low" {% if sort_criteria == 'low'%}selected{% endif %}>Low</option>
    <option value="open" {% if sort_criteria == 'open'%}selected{% endif %}>Open</option>
    <option value="trade_date" {% if sort_criteria == 'trade_date'%}selected{% endif %}>Trade Date</option>
    <option value="volume" {% if sort_criteria == 'volume'%}selected{% endif %}>Volume</option>
</select>
{% endif %}


