<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="/static/assets/ico/favicon.png">

        <title>LWS Financial Demo {% if title %}:{{ title }}{% endif %} </title>

        <!-- Bootstrap core CSS -->
        <link href="/static/css/bootstrap.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/static/css/app.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
      <script src="/static/assets/js/html5shiv.js"></script>
      <script src="/static/assets/js/respond.min.js"></script>
    <![endif]-->
    {% endblock %}
</head>

<body>
<div class="container">

    <div class="page-header">
        {% block page_header %}<a href="/"><img src="/static/assets/lws-logo.png" border="0"></a>
            {% if header_msg %}{{ header_msg }}{% endif %}{% endblock %}</div>
    <div class="row">
        <div class="col-md-3">{% block search_box_left %}{% endblock %}</div>
        <div class="col-md-9">{% block search_box %}
            {% include 'search-box.html' %}
        {% endblock %}</div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-3">{% block left_col %}{%  include 'facets.html' %}{% endblock %}</div>
        <div class="col-md-6">
        <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="{% if active == "Results" %}active{% endif %}"><a href="{{ results_url }}">Results</a></li>
            <li class="{% if active == "Historical" %}active{% endif %}"><a href="{{ historical_url }}">Historical</a></li>
          </ul>

        </div><!--/.nav-collapse -->
      </div>
            {% block main %}{% if active == "Historical"%}{%  include 'stats.html' %}{%  include 'group.html' %}{% else %}{%  include 'search_results.html' %}{% endif %}{% endblock %}</div>
        <div class="col-md-3">{% block right_col %}{% if the_facets['facet_pivot'] %}
    {% include 'facet_pivot.html' %}
{% endif %}{% endblock %}</div>
    </div>
</div>
<!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.js"></script>
<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>
