<div class="result, tweet, {{ loopVar.cycle('odd', 'even') }}">
    <div><label for="symbol_{{ loopVar.index0 }}">Symbol</label>: <span id="symbol_{{ loopVar.index0 }}">{{ result['symbol'] }}</span></div>
    <div><label for="name_{{ loopVar.index0 }}">Company</label>: <span id="name_{{ loopVar.index0 }}">{{ result['company'] }}</span></div>
    <div><label for="name_{{ loopVar.index0 }}">Industry</label>: <span id="industry_{{ loopVar.index0 }}">{{ result['industry'] }}</span></div>
    <div><label for="name_{{ loopVar.index0 }}">City</label>: <span id="city_{{ loopVar.index0 }}">{{ result['city'] }}</span>, <label for="name_{{ loopVar.index0 }}">State</label>: <span id="state_{{ loopVar.index0 }}">{{ result['state'] }}</span></div>
</div>