
<lifecycle:required object="$root.user.name">
    <search:platform var="user-prefs" conf="platforms.fusion.finance.user-prefs"></search:platform>
    <search:query var="userPrefsQuery" fields="username_s,role_s">
        <query:filter field="_lw_data_source_s" value="user-prefs"></query:filter>
        <query:filter field="username_s" value="{{$root.user.name}}"></query:filter>
    </search:query>
    <search:response var="userprefsResponse" query="userPrefsQuery" platform="user-prefs">
        <widget:spinner></widget:spinner>
    </search:response>

    WHAT THE FUCK: {{userprefsResponse.results[0]}} FOO
    <search:resultlist response=“userprefsResponse”>



        <search:result when=“role_s” equals=“analyst”>

            <search:field name=“role_s” label=“Title”></search:field>

        </search:result>

    </search:resultlist>

    <search:conditional test="userprefsResponse.results[0].result.fields.role_s">
        <layout:grid id="navbar">
            <layout:block>
                <search:tabs tabs="home=Home,news=News,companies=Companies,portfolios=Portfolios,my-companies=My Companies"
                             styling="navbar" class="tk-stl-navbar"></search:tabs>
            </layout:block>
        </layout:grid>
    </search:conditional>
</lifecycle:required>